/*body {
	display: block;
	width: 100%;
}

header {
	background-color: #3C3A3A;
	width: auto;
	border-bottom: solid 2px;
	border-bottom-color: #3C3A3A;
	padding-bottom: 1px;
	clear: both;
}

nav a {
	color: #D4E1DB;
	font-family: "Source Sans Pro";
	font-weight: 400;
	margin-right: 10px;
	padding-left: 5px;
	text-decoration: none;
	float: right;
}

div {
	display: inline-block;
	width: auto; 
	margin-left: 20px;
	float: right;
	padding-top: 20px;
}

h1 {
	color: #D4E1DB;
	font-family: "MERRIWEATHER";
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
	display: inline-block;
	width: 40%;
}

h5	{
	font-family: "MERRIWEATHER";
	font-style: italic;
	font-weight: 700;
	font-size: 16px;
	color: #080808;
	border-top: 3px solid;
	border-color: #FEDB0D;
	background-color: #D4E1DB;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
}
article {
	padding-bottom: 50px;
}

img {
	border-bottom: solid 2px;
	border-bottom-color: #080808;
	width: auto;
}

span {
	font-family: "oswald";
	font-weight: 700;
	display: inline;
	font-size: 18px;
	float: right;
	width: auto;
}

section {
	display: inline-block;
	width: auto;
	margin: 5px 5px 5px 5px;

}

h3 {
	font-family: "MERRIWEATHER";
	text-align: left;
	font-size: 16px;
	color: #080808;
	word-spacing: 2pt;
}

p {
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 14px;
	color: #3C3A3A;
}
*/


